!!!
%html
  %head
    %link{href: "https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css", rel: "stylesheet"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/
    %link{color: "#00b4b6", href: "../images/wind.svg", rel: "shortcut icon"}/
    %title= current_page.data.title || "Jon's Porfolio"
    %link{href: "wind.svg", rel: "shortcut icon", type: "image/x-icon"}/
    = stylesheet_link_tag "site"
    = javascript_include_tag "site"

  %body
  .bg{style: "background: url(./images/color_fade.jpg) repeat"}
    = partial 'partials/header'
    = yield
    = partial 'partials/main'
    = partial 'partials/footer'

  //%input.mySearch{onkeyup: "myFunction()", placeholder: "Search..", title: "Type in a category", type: "text"}/
  //%ul.myMenu
  //%li
    //%a{href: "#"} Home
  //%li
    //%a{href: "#"} About Me
  //%li
    //%a{href: "#"} My Projects
  //%li
    //%a{href: "#"} Education
  //%li
    //%a{href: "hobbies.html"} Hobbies
  //%li
    //%a{href: "#"} Download My CV
  //%li
    //%a{href: "#"} Contact Me
  