
!!!
%html
  %head
    %link{href: "https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css", rel: "stylesheet"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/
    %title= current_page.data.title || "Jon's Porfolio"
    %link{href: "wind.svg", rel: "shortcut icon", type: "image/x-icon"}/
    = stylesheet_link_tag "site"
    = javascript_include_tag "site"
  %body{bgcolor: "#B2C9B1"}
    = partial 'partials/header'
    = partial 'partials/main'
    = partial 'partials/sidebar'
    = partial 'partials/sidebarright'
    = yield
    = partial 'partials/footer'